* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
fieldset {
  border: none;
}
.l-page {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.l-page .l-main-area {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-top: 2em;
}
.l-page .l-main-area .l-content {
  width: 618px;
  margin: 0px auto;
}
.l-page .l-sidebar {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  width: 150px;
  background-color: slategray;
}
@media screen and (min-width: 768px) {
  .l-page .l-sidebar {
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .l-page {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .l-page .l-main-area .l-content,
  .l-page .l-sidebar {
    width: 100%;
  }
}
a.button {
  display: inline-block;
}
.message-box {
  border: 1px solid #fdd;
  background-color: #fee;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup:target {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.popup > * {
  overflow-y: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;
  background-color: white;
  -webkit-border-radius: 1em;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1em;
  -moz-background-clip: padding;
  border-radius: 1em;
  background-clip: padding-box;
}
@media screen and (min-width: 768px) {
  .popup > * {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .popup > * {
    width: 100%;
  }
}
ul.subscriber-list,
.subscriber-list ul {
  list-style-type: none;
  padding-left: 0;
}
.subscriber-list > li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4em;
}
.subscriber-list > li .personal {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
  font-size: 0.75rem;
}
.subscriber-list > li .personal .email {
  font-style: italic;
  font-size: 0.6rem;
  margin-bottom: 0.5em;
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subscriber-list > li .personal .email:hover {
  overflow: visible;
  background: white;
}
.subscriber-list > li .subscriptions {
  font-size: 0.8rem;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.subscriber-list > li .subscriptions ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
}
.subscriber-list > li .subscriptions .service {
  font-weight: bold;
}
.subscriber-list > li .subscriptions > li:not(.service) {
  margin-left: 2em;
}
.subscriber-list > li .subscriptions li:not(.service) + li.service {
  margin-top: 2em;
}
.subscriber-list > li .subscriptions .date {
  width: 6em;
}
.subscriber-list > li .subscriptions .date + .date {
  width: 9em;
}
.subscriber-list > li .subscriptions .date + .date::before {
  content: "–";
  margin-right: 1em;
}
.main-nav li a {
  color: white;
}
.main-nav li.selected a {
  color: black;
  background-color: white;
}
.main-nav li:not(.selected):hover a {
  background-color: #8d9aa6;
}
/*# sourceMappingURL=membertrack.css.map */