// out: ../css/membertrack.css

@import "lesshat.less";

@full-width: 768px;
@sidebar-width: 150px;
@sidebar-color: slategray;


* {
    .box-sizing(border-box);
}

fieldset {
    border: none;
}

.l-page {
    .display(flex);

    .l-main-area {
        .flex-grow(1);
        
        margin-top: 2em;

        .l-content {
            width: @full-width - @sidebar-width;
            margin: 0px auto;
        }
    }

    .l-sidebar {
        .flex-grow(0);
        width: @sidebar-width;
        
        @media screen and (min-width: @full-width) {
            min-height: 100vh;
        }
        background-color: @sidebar-color;
    }

    @media screen and (max-width: @full-width) {
        .flex-direction(column-reverse);

        .l-main-area .l-content, .l-sidebar {
            width: 100%;
        }
    }
}

a.button {
    display: inline-block;
}

.message-box {
    border: 1px solid #fdd;
    background-color: #fee;
    .border-radius(6px);
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.popup {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .justify-content(center);
    .align-items(center);

    &:target {
        .display(flex);
    }

    & > * {
        overflow-y: auto;
        max-height: 90vh;

        @media screen and (min-width: @full-width) {
            width: @full-width;
        }
        @media screen and (max-width: @full-width) {
            width: 100%;
        }
        margin-top: 4em;
        margin-bottom: 4em;
        padding: 2em;
        background-color: white;

        .border-radius(1em);
    }
}

ul.subscriber-list, .subscriber-list ul {
    list-style-type: none;
    padding-left: 0;
}

.subscriber-list > li {
    .display(flex);

    margin-bottom: 4em;
    
    .person {
        .flex-basis(40%);
        font-size: 0.75rem;
        
        .email {
            font-style: italic;
            font-size: 0.6rem;
            margin-bottom: 0.5em;

            max-width: 20em;

            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                overflow: visible;
                background: white;
            }
        }
    }

    .subscriptions {
        font-size: 0.8rem;
        .flex-grow(1);
        
        ul {
            .display(flex);
            margin-bottom: 0.5em;
        }

        .service {
            font-weight: bold;
        }

        & > li:not(.service) {
            margin-left: 2em;
        }

        li:not(.service) + li.service {
            margin-top: 2em;
        }
        
        .date {
            width: 6em;
        }
        
        .date + .date {
            width: 9em;
            &::before {
                content: "–";
                margin-right: 1em;
            }
        }
    }
}

.main-nav {
    li a {
        color: white;
    }
    
    li.selected a {
        color: black;
        background-color: white;
    }
    
    li:not(.selected):hover a {
        background-color: lighten(@sidebar-color, 10%);
    }
}