@import "../../ui/lesshat.less";
@import "../../ui/membertrack-config.less";

ul.subscriber-list, .subscriber-list ul {
    list-style-type: none;
    padding-left: 0;
}

.highlighted {
    background-color: #ddd;
}

.subscriber-list > li {
    .display(flex);

    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
    .subscriptions {
        font-size: 0.8rem;
        .flex-grow(1);
        
        ul {
            .display(flex);
            margin-bottom: 0.5em;
        }

        .service {
            font-weight: bold;
        }

        & > li:not(.service) {
            margin-left: 2em;
        }

        li + li.service {
            margin-top: 2em;
        }

        .date {
            width: 6em;
        }
        
        .date + .date {
            width: 9em;
            &::before {
                content: "–";
                margin-right: 1em;
            }
        }
    }
}

.l-content {
    .display(flex);
    
    .membership-browser {
        width: @full-width - @sidebar-width;
    }
    
    .membership-editor {
        width: @fat-width - @full-width;
    }
}