@import "../../ui/lesshat.less";
@import "../../ui/membertrack-config.less";

ul.subscriber-list, .subscriber-list ul {
    list-style-type: none;
    padding-left: 0;
}

.highlighted {
    background-color: lighten(@sidebar-bg, 70%);
    .accent-bg-light();
}

.subscriber-list > li {
    .display(flex);

    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
    .subscription {
        .flex-grow(1);
        .display(flex);
        .flex-direction(column);
        min-height: 2em;
        
        ul {
            .display(flex);
            margin-bottom: 0.5em;
        }

        .service {
            font-weight: bold;
        }

        & > li:not(.service) {
            margin-left: 2em;
        }

        li + li.service {
            margin-top: 2em;
        }

        .date {
            width: 6em;
        }
        
        .date + .date {
            width: 7.5em;
            &::before {
                content: "–";
                margin-right: 1em;
            }
        }

        .payment {
            width: 5em;
            text-align: right;
        }

        .paymentCurrency {
            margin-left: 0.5em;
            width: 1em;
        }
        
        .approved {
            margin-left: 0.5em;
        }
    }
}