@import "lesshat.less";

.pure-theme-membertrack {

    .pure-button {
        .border-radius(6px);
        
        .background-image(
            linear-gradient(
                to bottom,
                #eee 0%,
                #ddd 100%));

        &:hover, &:focus {
            .background-image(
                linear-gradient(
                    to bottom,
                    #fff 0%,
                    #eee 100%));
        }
    }
    
    select {
        vertical-align: top;
        height: 28px;
    }
    
    input[type='checkbox'] {
        vertical-align: middle;
        height: 16px;
    }

    fieldset + fieldset {
        margin-top: 2em;
    }

    .pure-control-group.for-buttons {
        .display(flex);
        .justify-content(flex-end);
        margin-top: 1.5em;
        margin-right: 2.5em;

        button, .button {
            margin-left: 1em;
        } 
    }
    
}